@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: "Anybody", sans-serif;
background-color: #dfdfd8;
}
img{
    width: 100%;
}
.container{
    width: min(90%,1120px);
    margin-inline: auto;
}
header{
    background-color: #fafaf6;
    height: 4.5rem;
    position: sticky;
    top: 0;
}
.desktop-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.link-menus{
    display: flex;
    gap: 20px;
  
}
.link-menus  li{
 list-style: none;
}
.link-menus  li a{
    text-decoration: none;
    color:  #2b2b2b;
    font-size:1.25rem ;
    font-weight: 500;
}
.link-menus  li a:hover{
color: #a06ad4;


}
.desktop-menu h1{
    font-size:1.5625rem ;
    font-weight: 700;
}
.hamburger{
    display: none;
}
.mobile-menu{
    display: none;
}
.mobile-menu-actions{
    display: flex;
    flex-direction: column;  
    gap: 10px;
    width: 80%;


}
.btn-primary,.btn-secondary{
    display: inline-block;
    background-color: #5f6ad4;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    
}

.btn-secondary{
 background-color: transparent;
 border: 1px solid white;
}
.hero{
height:calc(100vh - 4.5rem);
background: linear-gradient(rgba(0, 0,0, 0.7),rgba(0, 0, 0,0.5)),
url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-min-an-1234035.jpg") 
bottom/cover no-repeat;
display: flex;
}
.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hero .container h1{
    text-transform: uppercase;
    color: white;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;

}
.btn{ 
    padding:0.9375rem 3.75rem;
    background-color: #5f6ad4;
    color: white;
    font-size:1.25rem;
    border: none;
    font-weight: 500;
    border-radius: 0.625;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.btn:hover{
    background-color: #cecec1;
    color: black;
}
.yoga{
    background: linear-gradient(rgba(131, 129, 129, 0.5),rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1531714680149-1bde6d4d4c5c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    height: 90vh;
    margin-top: 6rem;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
   
} 
.yoga .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45.5rem;
    color: #fff;
    margin-inline: auto;
    margin-bottom: 7rem;
    gap: 25px;
}
.yoga .content h1{
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;

}
.yoga .content p{
 font-size: 1.5625rem;
 font-weight: 700;
 text-align: center;
}
.boxs-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-block: 6rem;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    

}
.box img{
    border-radius: 15px;
}
.box h2{
    font-size: 1.5625rem;
    font-weight: 400;
    color: #2b2b2b;
}
.box p{
    font-size:1.25rem;
    font-weight: 400;
    color:#646464 ;
}
.box .btn{
border-radius: 15px;
}
.perfect-condition{
    background: linear-gradient(rgba(131, 129, 129, 0.5),rgba(184, 180, 180, 0.7)),
    url('https://images.unsplash.com/photo-1545389336-cf090694435e?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    height: 459.913px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    background-attachment: fixed;
    
}
.perfect-condition h2{
    font-size: 3.125rem;
    font-weight: 400;
    color:#2a2a2a ;
    margin-bottom: 2rem;
 

}
.perfect-condition p{
font-family: 1.25rem;
font-weight: 400;
}

.title {
    /* padding: 1.25rem 0; */
    font-size: 4.6875rem;
    color: #2b2b2b;
    font-weight: 400;
    text-align: center;
}

/* .video-container {
    display: inline-block;
    

}

.yoga-video {
    max-width: 101.390625rem;
    height: 38.75rem;
    border-radius: 25px;
} */ 
.bg-yoga{
    background:url("https://images.unsplash.com/photo-1524863479829-916d8e77f114?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center /cover no-repeat;
     height: 459.913px;;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
 }
.title-blog{
    text-align: center;
    margin-top: 2rem;
    font-size: 3.125rem;
    font-weight:400;
    color: #2b2b2b;
}
.blog-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5625rem;
    margin-top: 2rem;
  
}

.blog img{
    max-width:22.5rem;
    height: 22.5rem;
    border-radius: 1.5rem;
}
.blog{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;

}
.blog-info.blog h2{
    font-size: 1.5625rem;
    font-weight: 400;
    color: #2b2b2b;
}
.blog-info.blog p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #646464;
}
.blog-info .blog .btn{
    border-radius: 15px;
}
.yoga-classes{
    background: linear-gradient(rgba(131, 129, 129, 0.5),rgba(184, 180, 180, 0.7)),
    url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2985098.jpg') center/cover no-repeat;
    height: 353.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    margin-block: 5rem;
}
.yoga-box{
height: 50%;
border-radius: 10px;
border: 2px solid #5f6ad4;
padding: 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #cecec1;
}
footer{
    background-color: #000;
    padding: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

@media(max-width:768px){
    .desktop-menu{
        display: none;
    }
    header{
        height: 0;
    }
    i{
        z-index: 1111;
     }
    .hamburger{
        display: flex;
        justify-content:center ;
        align-items: center; 
        background-color: #a06ad4;
        color: white;
        height: 50px;
        width: 50px;
        font-size: 2rem;
        border-radius: 50%;
        position: absolute;
        top: 3%; 
        right: 5%;
    }
    .mobile-menu{
        display: flex;
        position: fixed;
      justify-content: center;
        background-color: #2b2b2b;
        inset: 0 0 0 0;
        transform: translateX(0%);
        transition: transform 350ms ease-in-out;
    }

    .mobile-menu[data-visible="false"]{ 
        transform: translateX(100%);
    }
    .hamburger i[data-visible="true"]{
        display: block;
    }
    .hamburger i[data-visible="false"]{
        display: none;
    }

    .mobile-menu .navigation{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2.5rem;
        gap: 1.25rem;
        width: 100%;
    }
    .mobile-menu .navigation .link-menus{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-menu .navigation h1{
       font-size:2.0625rem;
       font-weight: 700;
       color: white;
       border-bottom: 1px solid white;
       padding: 10px;
    }
    .link-menus a{
        color: white !important;
    
    }
    .hero{
        height: 100vh;
    }
    .hero h1{
        font-size: 2.625rem;
    }
    .yoga .content h1{
        font-size:2.125rem;
    }
    .yoga .content{
        margin-bottom: 2rem;
    }
    .yoga .content p{
    padding: 1rem;
    font-size: 1.3125rem;
    }
 .boxs-info{
    grid-template-columns: 1fr;
 }
 .perfect-condition h2{
    font-size: 1.125rem;
  
 

}
.perfect-condition p{ 
font-size: 1.125rem;

}
.title {
    font-size:2.5625rem;
}
.yoga-video {
    max-width: 100%; 
    height: auto; 
   
}



.blog-info{
    display: grid;
    grid-template-columns: 1fr;
}
.blog-info.blog h2{
    font-size: 1.25rem;
    font-weight: 400;
   
}
.blog-info.blog p{
    font-size: 1rem;
}
.yoga-box{
    height: 70%;
    flex-direction: column;
}
.yoga-box h2{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

}